
#login{
	background: gray;
	border-radius: 10px;
	width: 40%;
	height: 100%;
	margin: 0px auto;
	padding: 5px;
}

.mensagem {
    color:red;
    text-align: center;
    margin-bottom: 10px;
}

.mensagemSucesso {
    color: green;
}
	